html {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
body {
  background: url(assets/bg.jpg);
  padding: 0 20px 20px;
  color: #fff;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
a {
  color: inherit;
}
strong {
  font-weight: 500;
}
h1 {
  font-weight: 300;
}
.cover-holder {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -75px;
  margin-top: -100px;
  z-index: 999;
}
.vis-circle {
  background:url('assets/logo.png'), rgba(0,0,0,0.75) ;
  width: 150px;
  height: 150px;
  border: 5px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  z-index: 999;
  border-radius: 50%;
  background-size: cover;
  will-change: transform, box-shadow;
  -webkit-transform: scale(1) translateZ(0);
          transform: scale(1) translateZ(0);
}
@media only screen and (max-width: 1980px) {
.cover-holder {top:46%;left:46%}
.vis-circle {width:300px;height:300px}
}
@media only screen and (max-width: 1480px) {
.cover-holder {top:48%;left:48%}
.vis-circle {width:200px;height:200px}
}

@media only screen and (max-width: 1024px) {
.cover-holder {top:50%;left:50%}
.vis-circle {width:150px;height:150px}
}

.stage {
  position: relative;
  background-color: rgba(0,0,0,0.36);
  width: 100vw;
  height: 100vh;
  margin: 0 -20px 1em;
}
.stage img#cover {
  display: block;
  width: 100%;
  opacity: 0.25;
}
.stage .mark {
  position: absolute;
  bottom: 150px;
  left: 25px;
  color: #fff;
  font-size: 24px;
}
.mark {
  display: inline-block;
  text-transform: uppercase;
}
.stage.hover .mark .fade {
  -webkit-mask-position-x: 0%;
}
.stage.hover .mark strong {
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.stage.hover .mark .description {
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
}
.mark strong {
  display: inline-block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}
.mark p {
  margin: 0;
}
.mark .fade {
  -webkit-mask-image: -webkit-linear-gradient(left, #000 0%, #000 33.33%, transparent 66.66%);
          mask-image: linear-gradient(90deg, #000 0%, #000 33.33%, transparent 66.66%);
  -webkit-mask-size: 300%;
  -webkit-mask-position-x: 100%;
  transition: -webkit-mask-position-x 2s ease;
}
.mark .description {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.music-visuals {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
}
#file-input {
  display: none;
}
.search {
  position: fixed;
  top: 10px;
  z-index: 999;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.search audio {
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}
.search audio.show {
  opacity: 1;
}
.search input {
  background: none;
  width: 100%;
  font-size: 90%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  height: 41px;
  color: rgba(255, 255, 255, 0.9);
  outline: none;
  -webkit-transition: width 300ms ease;
  transition: width 300ms ease;
  display: block;
}
.search input:focus {
  border-color: white;
}
.search .controls {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.search .controls .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.search .controls button {
  padding: 0.8rem 1rem;
  font-size: 90%;
  min-width: 80px;
  background: none;
  border: 1px solid white;
  color: white;
  outline: none;
  opacity: 0.6;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  border-top-color: rgba(255, 255, 255, 0);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}
.search .controls button:hover {
  border-color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
